Host vm
  HostName edwardr.dev-vms.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host vm-singularity
  HostName edwardr.dev-vms.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host vm-singularity-m
  HostName edwardr.dev-vms.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host vm-singularity2
  HostName edwardr.dev-vms.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host vm-singularity3
  HostName edwardr.dev-vms.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b2
  HostName b2.aml.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b2-singularity
  HostName b2.aml.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b5
  HostName b5.aml.speechmatics.io
  User edwardr
Host b5-singularity
  HostName b5.aml.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b6
  HostName b6.aml.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b6-singularity
  HostName b6.aml.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
