Host vm
  HostName edwardr.dev-vms.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host vm-singularity
  HostName edwardr.dev-vms.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host vm-singularity-m
  HostName edwardr.dev-vms.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host vm-singularity2
  HostName edwardr.dev-vms.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host vm-singularity3
  HostName edwardr.dev-vms.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b2
  HostName b2.aml.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b2-singularity
  HostName b2.aml.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b3-singularity
  HostName 172.21.1.13
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b5
  HostName b5.aml.speechmatics.io
  User edwardr
Host b5-singularity
  HostName b5.aml.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b6
  HostName 172.21.1.16
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b6-singularity
  HostName 172.21.1.16
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b6-singularity2
  HostName 172.21.1.16
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b7-singularity
  HostName b7.aml.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b8-singularity
  HostName b8.aml.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b8-singularity2
  HostName b8.aml.speechmatics.io
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b9-singularity
  HostName 172.21.1.19
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b9-singularity2
  HostName 172.21.1.19
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b10-singularity
  HostName 172.21.1.20
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host b10-singularity2
  HostName 172.21.1.20
  User edwardr
  IdentityFile ~/.ssh/id_rsa
Host gpu-aa-singularity
  HostName 172.21.1.120
  User edwardr
  IdentityFile ~/.ssh/id_rsa
