<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>07228859-A71F-43D1-96B7-A32039E6ACB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0049A616-17C8-41DC-A3D4-D80E6600CC6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28713292-8826-4B27-9A57-5FCFC9E11CF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C04D850A-BE61-459F-BF2E-EB5A70F6DC02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30207EEC-700E-4089-865D-380D49E753F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79FD5C85-18D6-4689-BA4A-3296C129E0B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92154E3F-81BE-43A2-A6BD-9EC7AABFDFB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C04D850A-BE61-459F-BF2E-EB5A70F6DC02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C543500B-7DAB-4898-91C4-BED354F84CE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>611B72FB-0A5D-4822-A6C8-C7F382B85B16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9A82E32-33E1-4043-9109-8C3983FD1C2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C225149E-00D5-4508-AD1F-1544AC99BCB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9ECCECE-36ED-4B8A-9A0C-47711ACCDD66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0049A616-17C8-41DC-A3D4-D80E6600CC6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE478F5F-E54E-464F-B972-3505344A0A84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB79AE5C-352B-4E0C-8A02-6D6CEF91F8A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2558B37-7F9F-4DFA-80C5-E70FE8DA457E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>611B72FB-0A5D-4822-A6C8-C7F382B85B16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4BAEB02-7D7C-43CC-9B9D-A18D10D80C8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D422AB2-C7D5-4A57-B0C6-1E84F878CB98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>App Hotkeys</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>30207EEC-700E-4089-865D-380D49E753F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>79FD5C85-18D6-4689-BA4A-3296C129E0B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C9A82E32-33E1-4043-9109-8C3983FD1C2A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Slack.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>C225149E-00D5-4508-AD1F-1544AC99BCB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Visual Studio Code.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>2D422AB2-C7D5-4A57-B0C6-1E84F878CB98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C9ECCECE-36ED-4B8A-9A0C-47711ACCDD66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Google Chrome"
    set gmailURL to "https://docs.google.com/document/d/17Rcrqhp-RZwjh2yJvxpM6bW-Q0tl2cizGFbDZv9rZ2U/edit"
    set foundTab to false
    
    if not (exists window 1) then
        make new window
    end if
    
    set i to 0
    repeat with t in (tabs of (first window whose index is 1))
        set i to i + 1
        if URL of t starts with gmailURL then
            set foundTab to true
            set (active tab index of (first window whose index is 1)) to i
            exit repeat
        end if
    end repeat
    
    if not foundTab then
        tell window 1 to make new tab with properties {URL:gmailURL}
        set (active tab index of (first window whose index is 1)) to (count tabs of (first window whose index is 1))
    end if
    
    activate
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0049A616-17C8-41DC-A3D4-D80E6600CC6A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F4BAEB02-7D7C-43CC-9B9D-A18D10D80C8F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>notes</string>
				<key>subtext</key>
				<string>Open lab notes doc in chrome</string>
				<key>text</key>
				<string>Lab Notes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>07228859-A71F-43D1-96B7-A32039E6ACB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CE478F5F-E54E-464F-B972-3505344A0A84</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>CB79AE5C-352B-4E0C-8A02-6D6CEF91F8A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C543500B-7DAB-4898-91C4-BED354F84CE9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Google Chrome"
    set gmailURL to "https://mail.google.com/"
    set foundTab to false
    
    if not (exists window 1) then
        make new window
    end if
    
    set i to 0
    repeat with t in (tabs of (first window whose index is 1))
        set i to i + 1
        if URL of t starts with gmailURL then
            set foundTab to true
            set (active tab index of (first window whose index is 1)) to i
            exit repeat
        end if
    end repeat
    
    if not foundTab then
        tell window 1 to make new tab with properties {URL:gmailURL}
        set (active tab index of (first window whose index is 1)) to (count tabs of (first window whose index is 1))
    end if
    
    activate
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>611B72FB-0A5D-4822-A6C8-C7F382B85B16</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>28713292-8826-4B27-9A57-5FCFC9E11CF9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Google Chrome"
    set gmailURL to "https://calendar.google.com/"
    set foundTab to false
    
    if not (exists window 1) then
        make new window
    end if
    
    set i to 0
    repeat with t in (tabs of (first window whose index is 1))
        set i to i + 1
        if URL of t starts with gmailURL then
            set foundTab to true
            set (active tab index of (first window whose index is 1)) to i
            exit repeat
        end if
    end repeat
    
    if not foundTab then
        tell window 1 to make new tab with properties {URL:gmailURL}
        set (active tab index of (first window whose index is 1)) to (count tabs of (first window whose index is 1))
    end if
    
    activate
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C04D850A-BE61-459F-BF2E-EB5A70F6DC02</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mail</string>
				<key>subtext</key>
				<string>Open gmail in chrome</string>
				<key>text</key>
				<string>Gmail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2558B37-7F9F-4DFA-80C5-E70FE8DA457E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>calendar</string>
				<key>subtext</key>
				<string>Open calendar in chrome</string>
				<key>text</key>
				<string>Google Calendar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>92154E3F-81BE-43A2-A6BD-9EC7AABFDFB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0049A616-17C8-41DC-A3D4-D80E6600CC6A</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>07228859-A71F-43D1-96B7-A32039E6ACB2</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>28713292-8826-4B27-9A57-5FCFC9E11CF9</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>2D422AB2-C7D5-4A57-B0C6-1E84F878CB98</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>30207EEC-700E-4089-865D-380D49E753F6</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>611B72FB-0A5D-4822-A6C8-C7F382B85B16</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>79FD5C85-18D6-4689-BA4A-3296C129E0B9</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>92154E3F-81BE-43A2-A6BD-9EC7AABFDFB8</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>C04D850A-BE61-459F-BF2E-EB5A70F6DC02</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>C225149E-00D5-4508-AD1F-1544AC99BCB2</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>C543500B-7DAB-4898-91C4-BED354F84CE9</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>C9A82E32-33E1-4043-9109-8C3983FD1C2A</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>C9ECCECE-36ED-4B8A-9A0C-47711ACCDD66</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>CB79AE5C-352B-4E0C-8A02-6D6CEF91F8A6</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>CE478F5F-E54E-464F-B972-3505344A0A84</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>D2558B37-7F9F-4DFA-80C5-E70FE8DA457E</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>F4BAEB02-7D7C-43CC-9B9D-A18D10D80C8F</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
